{% extends 'base.html.twig' %}

{% block title %}Les Petits Gourmands - Accueil{% endblock %}

{% block body %}

<div class="container mt-5">
    <h2 class="mt-4">Bonjour et bienvenue sur le site des bonnes recettes !</h2>
    <p class="mt-4 w-50">Ici tu pourras profiter d'une multitudes de nouvelles recettes proposées par les abonnés et tu découvriras un tas de nouveaux produits pour concevoir les tiennes.</p>
</div>
{% endblock %}
